%transition{
    transition: all ease-in-out .25s;
}

%uppercase{
    text-transform: uppercase;
}

%rounded-pill{
    border-radius: 50rem;
}

%rounded-circle{
    border-radius: 100rem;
}

%cursor-pointer{
    cursor: pointer;
}

%fw-light{
    font-weight: 300;
}

%fw-regular{
    font-weight: 400;
}

%fw-medium{
    font-weight: 500;
}

%fw-semibold{
    font-weight: 600;
}

%fw-bold{
    font-weight: 700;
}

%fw-extrabold{
    font-weight: 800;
}

%fw-black{
    font-weight: 900;
}

%stacking-context{
    position: relative;
    isolation: isolate;
}

%full-width{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

%wh-full{
    width: 100%;
    height: 100%;
}

%common-pseudo{
    content: '';
    position: absolute;
}

%overflow-hidden{
    overflow: hidden;
}

%select-none{
    user-select: none;
    pointer-events: none;
}
